/* $text-base-color: #434648;
$text-link-blue: #003fff;
$text-link-blue-active: #0036c7;

$black: #0d122b;
$light: #ececec;
$smoke: #d2c7c7;
$gray: #6b7886;
$white: #fff;

// Dark Colors
$dark-text-base-color: #c7bebe;
$dark-text-link-blue: #ff5277;
$dark-text-link-blue-active: #ff2957;

$dark-black: #131418;
$dark-white: #eaeaea;
$dark-light: #1b1d25;
$dark-smoke: #4a4d56;
$dark-gray: #767f87; */

:root {
    --primary-font: 'IBM Plex Sans', sans-serif, 'Noto Color Emoji';
    --secondary-font: 'Noto Sans', sans-serif, 'Noto Color Emoji';
    --code-font: 'Noto Sans Mono', monospace;
}

html {
    font-family:  var(--primary-font);
    font-size: clamp(16px, 1.9vw, 18px);
    color: #161616;
}

a {
    text-decoration: none;
    color: #ff5277;
}

a:hover {
    color: #ff2957;
}

p {
    font-family: var(--secondary-font);
    margin-bottom: 28px;
    line-height: 1.7;
}

code {
    font-family: var(--code-font);
}

pre {
    padding: 30px 40px;
    margin: 20px -40px;
    overflow: auto;
    border-radius: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 0.8;
}

h1 {
    font-size: 2em
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

/*
Navigation
========
*/

header nav {
    font-family: var(--secondary-font);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav article:last-child {
    display: flex;
}

nav a {
    display: block;
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
}

nav a:first-child {
    margin-left: 0;
}

/*
Homepage
========
*/

.categories {
    display: flex;
    justify-content: between;
    flex-wrap: wrap;
}

.category {
    text-transform: capitalize;
    width: calc(100% / 3);
}

.category a {
    display: block;
}

/*
Single
========
*/

.entry-title {
    margin-bottom: 0.4em;
}

.entry-author {
    font-size: 0.9em;
    color: gray;
}