<header>
    <nav>
        <article>
            <h6><a href="/">🗡️ {{ .Site.Title }}</a></h6>
        </article>
        <article>
            {{- $currentPage := . }}
            {{- range site.Menus.main }}
                {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
                {{- $page_url:= $currentPage.Permalink | absLangURL }}
                {{- $is_search := eq (site.GetPage .KeyName).Layout `search` }}
                <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                    {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
                    <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                        {{- .Pre }}
                        {{- .Name -}}
                        {{ .Post -}}
                    </span>
                </a>
            {{- end }}
        </article>
    </nav>
</header>